body {
  padding: 1rem;
}

.spacer {
  height: 3rem;
}

h1 {
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
}

h2 {
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
}

h3 {
  text-decoration: underline;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
}
